:root {
    font-size: 62.5%;

    --green-1000: #052e16;
    --green-600: #16A34A;
    --green-500: #22c55e;

    --black-900: #1C1917;
    --black-600: #57534e;

    --brown-700: #292524;

    --white-300: #cbd5e1;

    --blue-500: #3b82f6;

    --indig-500: #6366f1;

    --font-emphasis: "Roboto", sans-serif;
    --font-text: "Poppins", sans-serif;
}

html {
    font-size: 1.6rem;
}

body {
   position: relative;

   background-color: var(--black-900); 
   color: var(--white-300);
   font-family: var(--font-text);

   display: grid;
   grid-template-areas: 
   "header"
   "main";
   grid-template-rows: 6.2rem auto;


   height: 100vh;

   overflow-y: hidden;
}

/* menu da versão mobile */
.menu {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: var(--brown-700);

    transform: translateX(-100vw);
    transition: transform .5s ease-in;

    z-index: 10;
}

.menu__open {
    transform: translateX(0vw);
}

.menu__container {
    display: flex;
    gap: 12px;

    padding: 2rem;
}

.menu__button {
    background-color: transparent;
    border: none;
}

.menu__option {
    list-style-type: none;

    padding: 0 2rem;
}

.menu__option li {
    font-size: 1.8rem;

    border-bottom: 1px solid var(--white-300);

    margin-bottom: 2rem;
}

.menu__option li a {
    color: var(--white-300);
    text-decoration: none;
}

.header {
    grid-area: header;

    height: 5rem;
    padding: 1.2rem 2rem 0 2rem;

    display: flex;
    justify-content: space-between
}

.header__logo {
   width: 3.6rem;
   height: 3.4rem;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__button__contact {
    display: none;
}

.main {
    grid-area: main;
    
    height: calc(100vh - 5rem);

    overflow-y: scroll;
}

.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__title {
    font-family: var(--font-emphasis);

    color: var(--green-600);
    margin-bottom: 3.2rem;
}

.project__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project__card {
    width: 26rem;

    background-color: var(--brown-700);

    border-radius: 15px;

    position: relative;
}

.project__card__img {
    width: 100%;
    height: 13rem;

    border-radius: 15px 15px 0 0;
}

.project__card div:nth-child(2) {
    padding: 8px 12px;
}

.project__card__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 6rem;
    height: 5rem;

    bottom: 116px;
    right: 0;

    border: none;
    border-radius: 80% 80% 0 0;

    background-color: var(--brown-700);
}

.project__card__stack {
    margin: 0;

    font-size: 1.2rem;
}

/* Cores das tags */
.react {
    color: #3B82F6;
}

.javascript {
    color: #6366F1;
}

.node {
    color: #22C55E;
}

.project__card__description {
    font-size: 1.4rem;
}

.footer {
    background-color: var(--brown-700);

    display: flex;
    gap: 3rem;

    padding: 1rem 2rem;
    margin-top: 2rem;

    width: 100vw;
    box-sizing: border-box;
}

.footer__logo {
    width: 3.5rem;
}

.footer__buttons-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px
}

.footer__buttons {
    width: 9rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--black-900);
    color: var(--white-300);
    text-decoration: none;

    border: none;
    border-radius: 8px;
}

.footer__bar {
    margin: .8rem 0;
    height: 1px;
    background-color: var(--white-300);
}

.footer__copy {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__button {
        display: none;
    }

    .header__nav {
        display: block;
    }

    .header__nav ul {
        list-style-type: none;

        display: flex;
        gap: 1.6rem;

        font-family: var(--font-emphasis);
        font-size: 1.2rem;
        font-weight: 600;

        color: var(--white-300);
    }

    .header__nav ul li a {
        text-decoration: none;

        display: block;
        height: 100%;
        width: 100%;

        color: var(--white-300);
    }

    .project__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px 50px; 
    }
}