:root {
    font-size: 62.5%;

    --green-1000: #052e16;
    --green-600: #16A34A;
    --green-500: #22c55e;

    --black-900: #1C1917;
    --black-600: #57534e;

    --brown-700: #292524;

    --white-300: #cbd5e1;

    --blue-500: #3b82f6;

    --indig-500: #6366f1;

    --font-emphasis: "Roboto", sans-serif;
    --font-text: "Poppins", sans-serif;
}

html {
    font-size: 1.6rem;
}

body {
   position: relative;

   background-color: var(--black-900); 
   color: var(--white-300);
   font-family: var(--font-text);

   display: grid;
   grid-template-areas: 
   "header"
   "main";
   grid-template-rows: 6.2rem auto;


   height: 100vh;

   overflow-y: hidden;
}

/* menu da versão mobile */
.menu {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background-color: var(--brown-700);

    transform: translateX(-100vw);
    transition: transform .5s ease-in;
}

.menu__open {
    transform: translateX(0vw);
}

.menu__container {
    display: flex;
    gap: 12px;

    padding: 2rem;
}

.menu__button {
    background-color: transparent;
    border: none;
}

.menu__option {
    list-style-type: none;

    padding: 0 2rem;
}

.menu__option li {
    font-size: 1.8rem;

    border-bottom: 1px solid var(--white-300);

    margin-bottom: 2rem;
}

.header {
    grid-area: header;

    height: 5rem;
    padding: 1.2rem 2rem 0 2rem;

    display: flex;
    justify-content: space-between
}

.header__logo {
   width: 3.6rem;
   height: 3.4rem;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__button__contact {
    display: none;
}

.main {
    grid-area: main;
    
    height: calc(100vh - 5rem);

    overflow-y: scroll;
}

.intro {
    background-color: var(--brown-700);

    padding: 1rem 2rem 2.4rem;
    margin-top: 2.4rem;

    border-radius: 0 100px 100px 0;

    width: 80%;
}

.intro__right {
    display: none;
}

.intro__right__arrow {
    display: none;
}

.intro__right__dots {
    display: none;
}

.intro__title {
    font-family: var(--font-emphasis);
    font-size: 2.4rem;
}

.intro__title span {
    text-shadow: 
    -1px -1px 0 var(--green-600), /* Sombra superior esquerda */
    1px -1px 0 var(--green-600), /* Sombra superior direita */
    -1px 1px 0 var(--green-600), /* Sombra inferior esquerda */
    1px 1px 0 var(--green-600); /* Sombra inferior direita */

    color: var(--brown-700); 
}

.intro__buttons {
    display: flex;
    gap: 2rem;
}

.intro__text {
    font-size: 1.6rem;
    font-weight: 500;
}

.intro__text-2 {
    display: none;
}

.intro__btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    width: 8.6rem;
    height: 2.8rem;

    background-color: var(--green-600);

    color: var(--black-900);
    text-decoration: none;
    font-size: 1.2rem;

    border-radius: 80px;
}

.intro__buttons div button{
    width: 4.3rem;
    height: 3.1rem;
    
    background-color: var(--black-900);

    border: 0;
    border-radius: 50%;
}


.intro__buttons div button img {
    width: 3.3rem;
    height: 2.1rem;
}

.skills {
    padding: 2.4rem 2rem;
}

.skills__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__bar {
    width: 9rem;
    height: 0.1rem;

    background-color: var(--white-300);
}

.skills__title {
    font-family: var(--font-emphasis);
    font-size: 1.4rem;
    font-weight: 500;
}

.skills__techs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    margin-top: 1.4rem;
}

.skills__techs div {
    width: 6.5rem;
    height: 6.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--brown-700);

    border-radius: 5px;
}

.skills__techs-tailwind {
    width: 3rem;
}

.latestProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestProjects__title {
    color: var(--green-600);
    margin-bottom: 2.4rem;
}

/* Slider */
.slider {
    width: 100%;
    height: 185px;
    position: relative;
}

.swiper {
    width: 210px;
    height: 150px;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--green-600);
}

.swiper-pagination span {
    background-color: var(--green-600);
}

.latestProjects__all {
    font-size: 1.4rem;

    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 1.2rem;

    color: var(--green-600);
}

.experience {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience__title {
    font-family: var(--font-emphasis);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--green-600);

    margin-bottom: 2rem;
}

.experience__bar {
    height: 1px;
    width: 280px;

    margin-bottom: 0.8rem;

    background-color: var(--white-300);
}

.experience__historic{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    margin-bottom: 1.4rem;

    width: 80%;
}

.experience__historic p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 500;
}

.experience__historic p:nth-child(2) {
    font-size: 1.2rem;
}

.experience_institution {
    font-size: 1.2rem;

    align-self: flex-start;

    margin-left: 3.2rem;
}

.footer {
    background-color: var(--brown-700);

    display: flex;
    gap: 3rem;

    padding: 1rem 2rem;
    margin-top: 2rem;
}

.footer__logo {
    width: 3.5rem;
}

.footer__buttons-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px
}

.footer__buttons {
    width: 9rem;

    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--black-900);
    color: var(--white-300);

    border: none;
    border-radius: 8px;
}

.footer__bar {
    margin: .8rem 0;
    height: 1px;
    background-color: var(--white-300);
}

.footer__copy {
    text-align: center;
}

.teste1 {
    width: 100%;
    height: 100%;
    background-color: red;
}

.teste2 {
    width: 100%;
    height: 100%;
    background-color: orange;
}

.teste3 {
    width: 100%;
    height: 100%;
    background-color: green;
}

@media screen and (min-width: 375px){
    .slider {
        height: 210px;
    }
    
    .swiper {
        width: 250px;
        height: 170px;
    }

    .experience__bar {
        width: 310px;
    }

    .experience_institution {
        margin-left: 4rem;
    }

    .footer__buttons-conteiner {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 425px) {
    .skills__bar {
        width: 13rem; 
    }

    .skills__techs {
        gap: 8px;
    }
    
    .swiper {
        width: 290px;
    }

    .experience__bar {
        width: 350px;
    }

    .experience_institution {
        margin-left: 4.5rem;
    }
}

@media screen and (min-width: 768px) {
    .header {
        height: 8rem;
        padding: 1.2rem 3.2rem 0 3.2rem;
    }

    .header__button {
        display: none;
    }

    .header__nav {
        display: block;
    }

    .header__nav ul {
        list-style-type: none;

        display: flex;
        gap: 1.6rem;

        font-family: var(--font-emphasis);
        font-size: 1.2rem;
        font-weight: 600;

        color: var(--white-300);
    }

    .header__nav ul li a {
        text-decoration: none;

        display: block;
        height: 100%;
        width: 100%;

        color: var(--white-300);
    }


    .intro {
        background-color: transparent;
        
        padding: 2.1rem 3.2rem 2.4rem 0;
               
        width: 100%;

        display: flex;
        gap: 100px;
        align-items: flex-end;
    }
    
    .intro__left {
        background-color: var(--brown-700);

        width: 50%;

        border-radius: 0 100px 100px 0;

        padding: 3rem 3.2rem
    }

    .intro__title {
        font-size: 3.5rem;
    }

    .intro__text {
        font-size: 2rem;
    }
    
    .intro__btn-contact {
        width: 10rem;
        height: 4rem;
    }

    .intro__buttons div button {
        width: 6rem;
        height: 4rem;
    }
    
    .intro__right {
        display: block;
        width: 18rem;
        height: 20.5rem;
        
        background-color: var(--green-1000);

        border-radius: 100% 100% 0 0;

        position: relative;
    }

    .intro__right img {
        width: 200px;
        height: 300px;

        position: absolute;
        bottom: 0;
        left: 0;
    }

    .skills {
        padding: 0rem 3.2rem;
        margin-bottom: 46px;;
    }

    .skills__bar {
        width: 25rem;
    }

    .skills__title {
        font-size: 2rem;
    }

    .skills__techs div {
        width: 8.5rem;
        height: 8.5rem;

        font-size: 1.2rem;
    }

    .latestProjects {
        padding: 0 3.2rem;
        margin-bottom: 46px;
    }

    .latestProjects__title {
        font-size: 2rem;
    }

    .slider {
        height: 400px;
    }

    .swiper {
        width: 510px;
        height: 350px;
    }

    .latestProjects__all {
        font-size: 1.8rem;
        margin-right: 50px;
    }

    .experience {
        padding: 0 3.2rem;
    }

    .experience__title {
        font-size: 2rem;
    }

    .experience__bar {
        width: 56rem;
    }

    .experience__historic p:nth-child(1), .experience__historic p:nth-child(2) {
        font-size: 1.4rem;
    }

    .experience_institution {
        margin-left: 7.2rem;

        font-size: 1.4rem;
    }

    .footer {
        margin-top: 46px;

        padding: 1rem 3.2rem;
    }

    .footer__info {
        width: 100%;
    }

    .footer__buttons {
        width: 10rem;
        height: 4rem;

        font-size: 1.2rem;
    }

    .footer__bar {
        width: 50rem;

        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 1024px) {

    body {
        grid-template-rows: 8rem auto;
     }

     .header {
        align-items: center;

        padding: 1.2rem 9.2rem 0 9.2rem;
     }

     .header__logo {
        width: 4.8rem;
        height: 4.8rem;
     }

     .header__nav ul {
        gap: 1.6rem;

        display: flex;
        align-items: center;

        font-size: 1.8rem;
        font-weight: 600;
    }

    .header__nav ul li:nth-child(5) {
        display: none;
    }

    .header__button__contact {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: var(--white-300);

        width: 9.5rem;
        height: 3rem;

        border: 2px solid var(--green-600);
        border-radius: 10px;

        margin-left: 5rem;
    }

    .intro {
        margin: 6rem 0;
    }

    .intro__left {
        padding: 3rem 9.2rem
    }

    .intro__title {
        font-size: 6rem;

        margin-top: 0;
    }

    .intro__text {
        display: none;

    }

    .intro__text-2 {
        display: block;

        font-family: var(--font-emphasis);
        font-size: 2rem;

        margin-bottom: 4rem;
    }

    .intro__btn-contact {
        width: 20rem;
        height: 5rem;

        font-size: 1.6rem;
        font-weight: 500;

        gap: 1rem;
    }

    .intro__buttons div button {
        width: 5rem;
        height: 5rem;

        border-radius: 100%;

        margin-right: 1rem;
    }

    .intro__buttons div button img {
        width: 3rem;
        height: 3rem;
    }

    .intro__right-container {
        position: relative;

        width: 32rem;
    }

    .intro__right {
        display: block;
        width: 22rem;
        height: 25.5rem;
        
        background-color: var(--green-1000);

        border-radius: 100% 100% 0 0;

        position: relative;
        left: 50px
    }

    .intro__right__arrow {
        display: flex;
        justify-content: center;

        border: 1px solid var(--green-600);

        padding: .5rem;

        width: 5rem;
        border-radius: 100%;

        
    }

    .intro__right__dots {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        position: absolute;
        bottom: -2rem;
        left: 1rem;

        width: 10rem;
    }

    .intro__right__dots__2 {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        position: absolute;
        top: 0rem;
        right: 5rem;

        width: 10rem;
    }

    .intro__dots {
        width: 5px;
        height: 5px;

        background-color: var(--green-600);

        border-radius: 100%;
    }

    .intro__right img {
        width: 300px;
        height: 400px;

        position: absolute;
        bottom: 0;
        left:-20px;
    }

    .skills {
        padding: 0 9.2rem;

        margin-bottom: 6rem;
    }

    .skills__bar {
        width: 50rem;
    }

    .skills__title {
        font-size: 2.4rem;
    }

    .skills__techs div {
        width: 11rem;
        height: 11rem;

        font-size: 1.6rem;
    } 

    .latestProjects {
        padding: 0 9.2rem;
    }

    .latestProjects__title {
        font-size: 2.4rem;
    }

    .experience__container {
        display: flex;
        justify-content: space-between;

        padding: 0 9.2rem;
    }

    .experience__title {
        font-size: 2.4rem;

        margin-bottom: 3rem;
    }

    .experience__bar {
        width: 46rem;
    }

    .experience__historic {
        width: 100%;
    }

    .experience__historic p:nth-child(1), .experience__historic p:nth-child(2) {
        font-size: 1.8rem;
    }

    .experience_institution {
        margin-left: 0;

        font-size: 1.8rem;
    }

    .footer {
        padding: 4rem 9.2rem;
    }

    .footer__logo {
        width: 5rem;
    }

    .footer__info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25%;

    }

    .footer__buttons {
        width: 15rem;
        height: 5rem;

        font-size: 1.4rem;
        justify-content: center;
    }

    .footer__buttons img {
        width: 2rem;
    }

    .footer__copy {
        font-size: 1.4rem;
    }

    .footer__bar {
        display: none;
    }
}